body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-size: cover;
    background-image: url(imagens/academia.jpg);
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: white;
    cursor: pointer;
    transition: 1s;
    font-size: 2.5vw;
    text-decoration: none;
    padding-bottom: 20px;
    padding-left: 30px;
}
h1:hover{
    color: bisque;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
    margin-right: 2vw;
    transition: 1s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav a:hover{
    color:bisque;
}
h2{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 24.5vw;
    font-size: 3.5vw;
    margin-bottom: -0.5vw;  
    text-align:center;
}
p{
    color: white;
    font-size: 2vw;
    text-align: center;
}
.botoes{
    display: flex;
    justify-content:center;
}
.botoes a{
    text-decoration: none;
    color:white;
    font-size: 1.5vw;
    margin-right: 3vw;
    margin-left: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border: 1vw solid white;
    border-radius: 1vw;
    border: 0.3vw solid white;
    transition: 1s;
}
.botoes a:hover{
    color:white;
    background-color: bisque;
}



